* {
    margin: 0;
    box-sizing: border-box;
}
.hader-nav {
    background-color: rgba(0, 0, 0, 0.1);
}
.hader-mine {
    background-image: linear-gradient(rgba(00,00,00,0.7),rgba(00,00,00,0.7)),url(../img/bg-masthead.jpg);
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hader-mine p {
    font-size: 3vw;
}
.mine-hader {
    background-color: rgba(0, 0, 0, 0.1);
}
.mine-hader span {
    font-size: 70px;
}
.mine-hader i {
    font-size: 70px;
}
.mine-hader h2 {
    font-size:3vw;
}
.mine-hader p {
    font-size:1.8vw;
    font-weight: 100;
}
.min-content1 {
    background-image: url(../img/bg-showcase-1.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.min-content2 {
    background-image: url(../img/bg-showcase-2.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.min-content3 {
    background-image: url(../img/bg-showcase-3.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mine-footer {
    background-color: rgba(0, 0, 0, 0.1);
}
.mine-footer h2 {
    font-size: 2vw;
}
.footer-hader {
    background-image: linear-gradient(rgba(00,00,00,0.7),rgba(00,00,00,0.7)),url(../img/bg-masthead.jpg);
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}